target/classes/mule-exceptions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:test="http://www.mulesoft.org/schema/mule/test" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<spring:beans>
        <spring:bean id="uncheckedExceptionListener" name="uncheckedExceptionListener" class="com.kiktek.listeners.UncheckedExceptionNotificationListener"/>
    </spring:beans>
	<notifications>
		<notification event="EXCEPTION"/>
		<notification-listener ref="uncheckedExceptionListener" />
	</notifications>
    <flow name="default-exception-flow" doc:name="default-exception-flow">
    	<!-- make sure to add activemq dependency -->
        <jms:inbound-endpoint connector-ref="jmsConnector" queue="default.in" doc:name="JMS"/>
        <test:component throwException="true" exceptionToThrow="java.lang.RuntimeException"/>
        <jms:outbound-endpoint connector-ref="jmsConnector" queue="default.out" doc:name="JMS"/>
    </flow>
    
    
    <flow name="global-catch-exception-flow" doc:name="global-catch-exception-flow">
    	<!-- make sure to add activemq dependency -->
        <jms:inbound-endpoint connector-ref="jmsConnector" queue="catch.in" doc:name="JMS"/>
        <test:component appendString=" AND SOME" /> 
        <test:component throwException="true" exceptionToThrow="java.lang.RuntimeException"/>
        <jms:outbound-endpoint connector-ref="jmsConnector" queue="catch.out" doc:name="JMS"/>
    </flow>
    
    <catch-exception-strategy name="defaultCatchExceptionStrategy">
    	<logger level="INFO" message="wow #[payload]" doc:name="Logger"/>
    	<jms:outbound-endpoint connector-ref="jmsConnector" queue="default.error" doc:name="JMS"/>
    </catch-exception-strategy>
    <!-- global default exception strategy. this will be used instead of Mule's default it references the catch exception strategy, defaultCatchExceptionStrategy-->
    <configuration defaultExceptionStrategy-ref="defaultCatchExceptionStrategy" doc:name="Configuration"/>
</mule>
